<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Contact</title>
</head>
<body>

<form method="post" action="/createkontakt">
    <input type="text" name="firstName" placeholder="fornavn">
    <input type="text" name="lastName" placeholder="efternavn">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="adresse" placeholder="adresse">
    <input type="text" name="phoneNumber" placeholder="telefonnummer">
    <input type="submit" value="Opret Kontakt">
</form>

</body>
</html>