<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {font-family: "Lato", sans-serif}
        .mySlides {display: none}
    </style>

</head>

<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
        <a href="/adminmenu" class="w3-bar-item w3-button w3-padding-large">Admin Menu</a>
        <a href="/admincategory" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Admin Category</a>
        <a href="/adminproduct" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Admin Product</a>
        <a href="/admincontact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Admin Kontakt</a>
        <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
    </div>
</div>
<br><br><br><br>


<div class="container">
    <h1 class="page-header">Create Product</h1>

    <form class="md-form" th:action="@{/uploadproductimage}" enctype="multipart/form-data" method="POST" th:object="${ProductModel}">
        <div class="file-field">
            <div class="btn btn-primary btn-sm float-left">
                <span>Choose Image (Max size 1MB)</span>
                <br>
                <input type="file" name="fileName" id="i_file">
            </div>
        </div>
        <div>
            <br><br><br><br>
                <p>Product name: </p><input type="text" size="40" th:field="${product.name}"/>
                <br>
                <p>Price: </p><input type="number" size="20" th:field="${product.price}"/>
                <br>
                <p>Short Description: </p><input type="text" size="40" th:field="${product.shortDescription}"/>
                <br>
                <p>Long Description: </p><textarea rows="4" cols="50" th:field="${product.longDescription}"/>
                <br>
                <p>Category:</p>


                <!--<select >-->
                <!--<option th:each="fetchAllCategories: ${fetchAllCategories}" value="">-->
                    <!--<span th:text="${fetchAllCategories.name}"></span>-->
                <!--</option>-->
                <!--</select>-->
                <select th:field="${product.productCategories}">
                <option name="pcid" th:each="fetchAllCategories: ${fetchAllCategories}" th:value="${fetchAllCategories.id}">
                    <span th:text="${fetchAllCategories.name}"></span>
                </option>
                </select>
            <br><br><br>
                <button class="btn btn-primary" type="submit" id="i_submit">Submit</button>
            <div class="file-path-wrapper">
        </div>

            </div>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h3 class="page-information">Categories: </h3>
    <br>

    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>

            <th>Id</th>
            <th>Image</th>
            <th>Name</th>
            <th>Short Description</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="fetchAllProducts: ${fetchAllProducts}">

            <td th:text="${fetchAllProducts.id}"/>
            <td><img th:src="${fetchAllProducts.productImage}" style="width:20%"></img></td>
            <td th:text="${fetchAllProducts.name}"></td>
            <td th:text="${fetchAllProducts.shortDescription}"></td>
            <td>

                <a class="glyphicon glyphicon-trash" title="Delete" th:href="${'delete/specificproduct/' + fetchAllProducts.id}" onclick="return confirmDelete()">
                    <!--<button class="btn btn-info glyphicon glyphicon-cog">details</button>-->
                </a>
                <a class="glyphicon glyphicon-cog" title="Edit">
                    <!--<button class="btn btn-warning glyphicon glyphicon-pencil">edit</button>-->
                </a>
            </td>
        </tr>

        </tbody>
    </table>

</div>

<script>
    $('#i_submit').click( function() {
        //check whether browser fully supports all File API
        if (window.File && window.FileReader && window.FileList && window.Blob)
        {
            //get the file size and file type from file input field
            var fsize = $('#i_file')[0].files[0].size;
            var ftype = $('#i_file')[0].files[0].type;

            switch(ftype)
            {
                case 'image/png':
                case 'image/gif':
                case 'image/jpeg':
                case 'image/pjpeg':
                    break;
                default:
                    alert('Unsupported File!');
                    event.preventDefault();
            }

            if(fsize>1048576) //do something if file size more than 1 mb (1048576)
            {
                var new_num = fsize.toFixed(1)/1000000;
                var imageSize = new_num.toFixed(1)
                alert(imageSize +" MB\nImage Size must be below 1MB!");
                event.preventDefault();
            }
        }else{
            alert("Please upgrade your browser, because your current browser lacks some new features we need!");
        }
    });

    function confirmDelete() {
        if (confirm("Delete Image?") == true) {
            return true;
        } else {
            return false;
        }
    }

</script>

</body>

</html>